# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Universite paris Saclay\L3 info\PIIA\projet\Aimane_BENAMMAR_final_PIIA.zip_expanded\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
